# Python

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
__pycache__/

.cache/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# scripts
project_dump.txt
dump_project.py
specs
out_results/
thunderdots/native/build/*mkdocs/site/
site/

*.egg-info/
__version__.py

output_cid.json
output_encpos.json